body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  /* background-color: #fff; */
}

.icecream-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
  flex-wrap: wrap;
}

.icecream-card1 {
  background-color: #fefefe;
  border: 1px solid #eee;
  border-radius: 12px;
     width: 400px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.icecream-card2 {
  background-color: #aef9bc;
  border: 1px solid #eee;
  border-radius: 12px;
    width: 400px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}.icecream-card3 {
  background-color:#D8BFD8;
  border: 1px solid #eee;
  border-radius: 12px;
   width: 400px;
   height: 500px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.icecream-card1:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}.icecream-card2:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}.icecream-card3:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 5px;
}

.flavor-name {
  font-size: 1.4rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 15px;
}

.icecream-card  img .img1 {
  width: 200px;
  height: auto;
    /* margin-top: 100px; */
  border-radius: 8px;
  object-fit: cover;
}
.icecream-card  img .img2 {
  width: 100%;
  height: auto;
    /* margin-top: 100px; */
  border-radius: 8px;
  object-fit: cover;
}
.icecream-card  img .img3 {
  width: 100%;
  height: auto;
  margin-top: -150px;
  border-radius: 8px;
  object-fit: cover;
}
.heading h1{
    text-align: center;
}
